/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div{
    width: 400px;
    height:400px;
    background-color: blueviolet;
    float: left;
    margin-left: 0.5%;
    transition: all 1s;
    transform: translate(380px,260px);
}
p{
    text-align: center;
    font-size: 400px;
    font-family: 'Monoton', cursive;
}
div:hover.div1{
    transform: scale(1);
    background-color: chartreuse;
    transform: scaleX(1);
    transform: scaleY(1);
    transform: rotate(60deg)
}

div:hover.div2{
    transform: scale(2);
    background-color: darkorange;
    transform: scaleX(2);
    transform: scaleY(2);
    transform: rotate(90deg)
}

div:hover.div3{
    transform: scale(3);
    background-color: darkred;
    transform: scaleX(3);
    transform: scaleY(3);
    transform: rotate(180deg)
}
